---
import ExperienceCard from "@components/common/ExperienceCard.astro";
import i18n from "@utils/i18n";

interface Props {
	id: string;
	tailwindClass: string;
	lang: "es" | "en";
}

const { id, tailwindClass, lang } = Astro.props;

const experienceContent = i18n(lang, "experience") as ExperiencesItem[];

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h1 class="text-xl font-medium mb-5 lg:hidden">Experience</h1>
	<ul class="w-full flex flex-col gap-y-5">
		{experienceContent.map((experience) => (
			<ExperienceCard
				role={experience.role}
				company={experience.company}
				time={experience.time}
				description={experience.description}
				url={experience.url}
				badges={experience.badges}
				/>
		))}
	</ul>
</section>
