---
import Card from "@src/components/ui/Card.astro";

interface Props {
	id: string;
	tailwindClass: string;
}

const experiences = [
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
		url: "https://www.facebook.com",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
		url: "https://www.facebook.com",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
		url: "https://www.facebook.com",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
		url: "https://www.facebook.com",
	},
];

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h1 class="text-xl font-medium mb-5 lg:hidden">Experience</h1>
	<ul class="w-full flex flex-col gap-y-5">
		{experiences.map((experience) => (
			<Card 
				title={experience.job}
				subtitle={`${experience.company} (${experience.from} - ${experience.to})`}
				body={experience.description}
				url={experience.url} />
		))}
	</ul>
</section>
