---
import Card from "@src/components/ui/Card.astro";
import i18n from "@utils/i18n";

interface Props {
	id: string;
	tailwindClass: string;
	lang: "es" | "en";
}

const { id, tailwindClass, lang } = Astro.props;


const projectsContent = i18n(lang, "projects") as ProjectsItem[];

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h2 class="text-xl font-medium mb-5 lg:hidden">Projects</h2>
  <ul class="flex flex-col gap-y-10">
		{projectsContent.map((project) => (
			<Card
				title={project.title}
				body={project.description}
				img={project.image}
				urls={project.urls}
				type="project"
				badges={project.badges}
				/>
		))}
	</ul>
</section>
