---
import Card from "@src/components/ui/Card.astro";
import { projectsContent } from "@src/content";

interface Props {
	id: string;
	tailwindClass: string;
}

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h2 class="text-xl font-medium mb-5 lg:hidden">Projects</h2>
  <ul class="flex flex-col gap-y-10">
		{projectsContent.map((project) => (
			<Card
				title={project.title}
				body={project.description}
				img={project.image}
				url={project.link}
				type="project"
				badges={project.badges}
				/>
		))}
	</ul>
</section>
