---
import ArrowTopRightOnSquareIcon from "@ui/icons/ArrowTopRightOnSquareIcon.astro";

interface Props {
	id: string;
	tailwindClass: string;
}

const projectList = [
	{
		title: "Project 1",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
		image:
			"https://websavers.ca/wp-content/uploads/2014/02/preview-website-plesk-wordpress-websavers.jpg",
		link: "https://github.com/devfercastro/",
	},
	{
		title: "Project 2",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
		image:
			"https://websavers.ca/wp-content/uploads/2014/02/preview-website-plesk-wordpress-websavers.jpg",
		link: "https://github.com/devfercastro/",
	},
	{
		title: "Project 3",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
		image:
			"https://websavers.ca/wp-content/uploads/2014/02/preview-website-plesk-wordpress-websavers.jpg",
		link: "https://github.com/devfercastro/",
	},
];

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h2 class="text-xl font-medium mb-5 lg:hidden">Projects</h2>
  <div class="flex flex-col gap-y-10">
		{
		projectList.map((project) => (
			<a
				href={project.link}
				class="cursor-pointer relative h-min lg:h-[500px] flex flex-col justify-end rounded-lg overflow-hidden group"
				target="_blank"
				rel="noopener noreferrer">
				<img src={project.image} alt={project.title} class="relative lg:absolute w-full h-full group-hover:opacity-25 transition-opacity duration-300 opacity-100" loading="lazy" /> 
				<ArrowTopRightOnSquareIcon height={25} width={25} class="absolute right-10 top-10" />
				<div class="container px-10 pb-10">
					<h2 class="text-lg font-semibold mt-5">{project.title}</h2>
					<p class="text-sm">{project.description}</p>
				</div>
			</a>
		))
	}
	</div>
</section>