---
import ArrowTopRightOnSquareIcon from "@heroicons/react/24/outline/ArrowTopRightOnSquareIcon";

interface Props {
	id: string;
	tailwindClass: string;
}

const projectList = [
	{
		title: "Project 1",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent nec augue in augue sollicitudin consectetuer. Pamela Bach, Dr. H. Jackson, Jr.",
		image:
			"https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
		link: "https://github.com/devfercastro/",
	},
	{
		title: "Project 2",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent nec augue in augue sollicitudin consectetuer. Pamela Bach, Dr. H. Jackson, Jr.",
		image:
			"https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
		link: "https://github.com/devfercastro/",
	},
	{
		title: "Project 3",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent nec augue in augue sollicitudin consectetuer. Pamela Bach, Dr. H. Jackson, Jr.",
		image:
			"https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
		link: "https://github.com/devfercastro/",
	},
];

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
  {
		projectList.map((project) => (
			<a href={project.link} class="cursor-pointer relative flex flex-col justify-end rounded-lg overflow-hidden group" style="height: 500px;">
				<img src={project.image} alt={project.title} class="absolute group-hover:opacity-25 transition-opacity duration-300 opacity-100" loading="lazy" width="100%" height="100%" /> 
				<ArrowTopRightOnSquareIcon height={25} width={25} className="absolute right-10 top-10" />
				<div class="container px-10 pb-10">
					<h2 class="text-lg font-semibold">{project.title}</h2>
					<p class="text-sm">{project.description}</p>
				</div>
			</a>
		))
	}
</section>