---
import GithubIcon from "@ui/icons/GithubIcon.astro";
import LinkedinIcon from "@ui/icons/LinkedinIcon.astro";
import TwitterIcon from "@ui/icons/TwitterIcon.astro";

interface Props {
	id?: string;
	tailwindClass: string;
}

const { id, tailwindClass } = Astro.props;

const socialIconProps = {
	size: 25,
	animation:
		"lg:text-[var(--social-icon)] hover:text-[var(--text)] transition-colors duration-300",
};

export const prerender = true;
---
<div id={id} class={tailwindClass}>
  <a href="https://github.com/devfercastro" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Github</span>
    <GithubIcon height={socialIconProps.size} width={socialIconProps.size} class={socialIconProps.animation} title="My Github Profile" />
  </a>
  <a href="https://www.linkedin.com/in/devfercastro/" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Linkedin</span>
    <LinkedinIcon height={socialIconProps.size} width={socialIconProps.size}  class={socialIconProps.animation} title="My Linkedin Profile" />
  </a>
  <a href="https://twitter.com/devfercastro" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Twitter</span>
    <TwitterIcon height={socialIconProps.size} width={socialIconProps.size}  class={socialIconProps.animation} title="My Twitter Profile" />
  </a>
</div>
